<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address Line 1</th>
      <th>Address Line 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Order Type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.full_name %></td>
        <td><%= order.email %></td>
        <td><%= order.phone_number %></td>
        <td><%= order.address_line_1 %></td>
        <td><%= order.address_line_2 %></td>
        <td><%= order.city %></td>
        <td><%= order.state %></td>
        <td><%= order.zip_code %></td>
        <td><%= order.order_type %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
