<h1>Menu</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entrees.each do |entree| %>
      <tr>
        <td><%= entree.item %></td>
        <td><%= entree.description %></td>
        <td><%= entree.price %></td>
        <td><%= link_to 'Show', entree %></td>
        <td><%= link_to 'Edit', edit_entree_path(entree) %></td>
        <td><%= link_to 'Destroy', entree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entree', new_entree_path %>
