<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @entree.item %>
</p>

<p>
  <strong>Description:</strong>
  <%= @entree.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @entree.price %>
</p>

<%= link_to 'Edit', edit_entree_path(@entree) %> |
<%= link_to 'Back', entrees_path %>
